<ng-container>
  <div>The most isolated country: {{results.name}}</div>
  <div>Degree of isolation: {{results.isolatedAgentsSet.size}}</div>
  <table>
    <tr class="header-row">
      <th *ngFor="let col of headers">{{col}}</th>
    </tr>
    <tr *ngFor="let agent of agents" class="agentRow">
      <td >
        {{agent.agent}}
      </td>
      <td>
        {{agent.country}}
      </td>
      <td>
        {{agent.address}}
      </td>
      <td>
        {{agent.date}}
      </td>
    </tr>
    <tr >
      <td colspan="4" class="missions-sum">
        {{agents.length}} Missions
      </td>
    </tr>
  </table>
</ng-container>


